<!-- filepath: /home/developer/student_registration_system/app/views/admin_mailer/new_student_registration.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Student Registration</title>
  </head>
  <body>
    <h1>New Student Registration</h1>
    <p>A new student has registered with the following details:</p>
    <p>Name: <%= @student.name %></p>
    <p>Email: <%= @student.email %></p>
    <p>DOB: <%= @student.dob %></p>
    <p>Address: <%= @student.address %></p>
    <p>Please verify the student's details.</p>
  </body>
</html>