<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Happy Birthday!</title>
  </head>
  <body>
    <h1>Happy Birthday, <%= @student.name %>!</h1>
    <p>Wishing you a wonderful day filled with joy and happiness!</p>
  </body>
</html>
