<!-- filepath: /home/developer/student_registration_system/app/views/student_mailer/good_morning_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Good Morning</title>
  </head>
  <body>
    <h1>Good Morning, <%= @student.name %>!</h1>
    <p>We hope you have a great day!</p>
  </body>
</html>